<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
  <add name="SAContext" connectionString="metadata=res://*/SAModel.csdl|res://*/SAModel.ssdl|res://*/SAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>