<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfConsole.Properties.Settings>
            <setting name="FromFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="FromOutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ToFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ToOutputDir" serializeAs="String">
                <value />
            </setting>
        </WpfConsole.Properties.Settings>
    </userSettings>
</configuration>