<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms name=".GestaoApp_ASPXAUTH"/>
    </authentication>
    <profile>
      <properties>
        <add name="FriendlyName"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="GestaoApp.Web.Services.ProcessRequestHandler" path="ProcessRequestHandler" verb="*" type="GestaoApp.Web.Services.ProcessRequestHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Contact.Media.List" path="Contact.Media.List" verb="*" type="GestaoApp.Web.Services.Contact.Media.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Location.City.Search" path="Location.City.Search" verb="*" type="GestaoApp.Web.Services.Location.City.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Location.Address.Search" path="Location.Address.Search" verb="*" type="GestaoApp.Web.Services.Location.Address.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Location.City.List" path="Location.City.List" verb="*" type="GestaoApp.Web.Services.Location.City.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Location.State.List" path="Location.State.List" verb="*" type="GestaoApp.Web.Services.Location.State.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Location.Country.List" path="Location.Country.List" verb="*" type="GestaoApp.Web.Services.Location.Country.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Type.List" path="Attendance.Type.List" verb="*" type="GestaoApp.Web.Services.Attendance.Type.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Status.List" path="Attendance.Status.List" verb="*" type="GestaoApp.Web.Services.Attendance.Status.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Product.List" path="Attendance.Product.List" verb="*" type="GestaoApp.Web.Services.Attendance.Product.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Register.CommitChanges" path="Attendance.Register.CommitChanges" verb="*" type="GestaoApp.Web.Services.Attendance.Register.CommitChanges" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Register.Search" path="Attendance.Register.Search" verb="*" type="GestaoApp.Web.Services.Attendance.Register.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Message.SMS.Send" path="Attendance.Message.SMS.Send" verb="*" type="GestaoApp.Web.Services.Attendance.Message.SMS.Send" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Attendance.Dashboard" path="Attendance.Dashboard" verb="*" type="GestaoApp.Web.Services.Attendance.Dashboard" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Vendor.Search" path="Sales.Vendor.Search" verb="*" type="GestaoApp.Web.Services.Sales.Vendor.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Vendor.List" path="Sales.Vendor.List" verb="*" type="GestaoApp.Web.Services.Sales.Vendor.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Client.List" path="Sales.Client.List" verb="*" type="GestaoApp.Web.Services.Sales.Client.List" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Client.Search" path="Sales.Client.Search" verb="*" type="GestaoApp.Web.Services.Sales.Client.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Client.CommitChanges" path="Sales.Client.CommitChanges" verb="*" type="GestaoApp.Web.Services.Sales.Client.CommitChanges" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Bid.CommitChanges" path="Sales.Bid.CommitChanges" verb="*" type="GestaoApp.Web.Services.Sales.Bid.CommitChanges" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Bid.Search" path="Sales.Bid.Search" verb="*" type="GestaoApp.Web.Services.Sales.Bid.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Bid.Document" path="Sales.Bid.Document" verb="*" type="GestaoApp.Web.Services.Sales.Bid.Document" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Bid.Project" path="Sales.Bid.Project" verb="*" type="GestaoApp.Web.Services.Sales.Bid.Project" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Order.Search" path="Sales.Order.Search" verb="*" type="GestaoApp.Web.Services.Sales.Order.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Sales.Dashboard" path="Sales.Dashboard" verb="*" type="GestaoApp.Web.Services.Sales.Dashboard" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Shipping.PackingList.CommitChanges" path="Shipping.PackingList.CommitChanges" verb="*" type="GestaoApp.Web.Services.Shipping.PackingList.CommitChanges" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Shipping.PackingList.Search" path="Shipping.PackingList.Search" verb="*" type="GestaoApp.Web.Services.Shipping.PackingList.Search" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Security.Session.Request" path="Security.Session.Request" verb="*" type="GestaoApp.Web.Services.Security.Session.Request" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Security.User.ChangePassword" path="Security.User.ChangePassword" verb="*" type="GestaoApp.Web.Services.Security.User.ChangePassword" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Security.Vendor.ChangePassword" path="Security.Vendor.ChangePassword" verb="*" type="GestaoApp.Web.Services.Security.Vendor.ChangePassword" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="GestaoApp.Web.Services.Security.Vendor.ResetPassword" path="Security.Vendor.ResetPassword" verb="*" type="GestaoApp.Web.Services.Security.Vendor.ResetPassword" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBasicHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SilverlightWCFLargeDataApplication.Web.SilverlightWCFServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SilverlightWCFLargeDataApplication.Web.SilverlightWCFServiceBehavior" name="SilverlightWCFLargeDataApplication.Web.SilverlightWCFService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBasicHttpBinding" contract="SilverlightWCFLargeDataApplication.Web.SilverlightWCFService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=GestaoApp;Integrated Security=True"/>
  </connectionStrings>
</configuration>