<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NfeConsulta2Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeConsulta2.asmx"
          binding="customBinding" bindingConfiguration="NfeConsulta2Soap12"
          contract="NfeConsulta2.NfeConsulta2Soap12" name="NfeConsulta2Soap12" />
    </client>
  </system.serviceModel>
</configuration>