<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CONTMATIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ContaCliente" value="1.01.01.001.00000" />
    <add key="ContaFornecedor" value="1.01.01.001.00000" />
    <add key="GeralPath" value="C:\Phoenix\Geral" />
    <add key="EmpresaPath" value="C:\Phoenix\Empresas" />
    <add key="WebServiceURL" value="http://consult.altamira.com.br/PlanoContas.svc" />
    <add key="PlanoContas" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPlanoContas" maxReceivedMessageSize="9999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55972/PlanoContas.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPlanoContas" contract="Service.IPlanoContas"
        name="BasicHttpBinding_IPlanoContas" />
    </client>
  </system.serviceModel>
  <userSettings>
    <CONTMATIC.Properties.Settings>
      <setting name="GeralPath" serializeAs="String">
        <value>c:\phoenix\geral</value>
      </setting>
      <setting name="EmpresaPath" serializeAs="String">
        <value>c:\phoenix\empresas</value>
      </setting>
      <setting name="PlanoContasAtual" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>consult</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>consult@2013</value>
      </setting>
      <setting name="PlanoContasAnterior" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WebServiceURL" serializeAs="String">
        <value>http://consult.altamira.com.br/PlanoContas.svc</value>
      </setting>
    </CONTMATIC.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>