<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CONTMATIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ContaCliente" value="1.01.01.001.00000"/>
    <add key="ContaFornecedor" value="1.01.01.001.00000"/>
    <add key="GeralPath" value="C:\Phoenix\Geral"/>
    <add key="EmpresaPath" value="C:\Phoenix\Empresas"/>
    <add key="WebServiceURL" value="http://consult.altamira.com.br:5555/PlanoContas.svc"/>
    <add key="PlanoContas" value="0"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPlanoContas" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9999999" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3908/PlanoContas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlanoContas" contract="Service.IPlanoContas" name="BasicHttpBinding_IPlanoContas"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <CONTMATIC.Properties.Settings>
      <setting name="GeralPath" serializeAs="String">
        <value>c:\phoenix\geral</value>
      </setting>
      <setting name="EmpresaPath" serializeAs="String">
        <value>c:\phoenix\empresas</value>
      </setting>
      <setting name="WebServiceURL" serializeAs="String">
        <value>http://consult.altamira.com.br:5555/PlanoContas.svc</value>
      </setting>
      <setting name="PlanoContasAtual" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>consult</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>consult@2013</value>
      </setting>
      <setting name="PlanoContasAnterior" serializeAs="String">
        <value>0</value>
      </setting>
    </CONTMATIC.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
